パソコンも、スマホを考慮しながら作成してください。
react-iconsを導入しました。上手く活用してください。

イメージとしては日本のいけいけエンジニアが使ってそうなデザインですね。
zennの開発者のやつとかまじで理想

UIUXも考慮するのを忘れないでください

そしてcomponents/uiにはshadcnのコンポーネント以外はいれないでください。
またUIを作成するときは極力shadcnのコンポーネントを使用してください。

globals.cssは変更しないでください！！！必ず変更しないでください。
